<html>

<head>
    <link rel="stylesheet" href="main.css">
    <!-- <script src="require.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.5.1/cytoscape.min.js"></script>
    <script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script>
    <script src="cytoscape-dagre.js"></script>
    <script src="https://unpkg.com/klayjs@0.4.1/klay.js"></script>
    <script src="cytoscape-klay.js"></script>

    <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
    <script src="cytoscape-popper.js"></script>
    <script src="cytoscape-euler.js"></script>

    <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container container-fluid">
        <div id="cy"></div>
    </div>

    <div class="container container-fluid">

    </div>


    <div id="app" class="container">

        <input class="form-control form-control-lg" type="text" placeholder="" v-on:keyup.enter="run_command" v-model="command">
        <span class="dropdown" >
            <label for="dropdownMenuButton">Branch</label>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selected}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" v-for="(val, branch, index) in branches" v-bind:value="branch"
                    @click="setSelected($event, branch)">{{branch}}</a>
            </div>
            <button v-on:click='comm' type="button" class="btn btn-primary">
                Commit
            </button>
        </span>
        

        

        <div>
            <span>Merge: {{ merge_select }}</span>
            <select v-model="merge_select">
                <option v-for="(val, branch, index) in branches" v-bind:value="branch">
                    {{ branch }}
                </option>
            </select>
            <button v-on:click='merge' type="button" class="btn btn-light">
                Merge
            </button>
        </div>
        <div>
            <input v-model="message" placeholder="edit me">
            <span>New Branch: {{ message }}</span>
            <button v-on:click='newBranch' type="button" class="btn btn-light">
                New BRanch
            </button>

        </div>

        <div class="row">
            <span class="col-sm">
                Working
                <ul v-if="working().length">
                    <li v-for="file in working()" :key="file.name">
                        {{file.name}} v{{file.version}}
                    </li>
                </ul>
                <div v-else>No changes</div>
            </span>
            <span class="col-sm">
                Staged
                <ul v-if="staged().length">
                    <li v-for="file in staged()">
                        {{file.name}} v{{file.version}}
                    </li>
                </ul>
                <div v-else>Nothing staged</div>
            </span>
            <span class="col-sm">
                Local Repo
                <ul v-if="repo().length">
                    <li v-for="file in repo()">
                        {{file.name}} v{{file.version}}
                    </li>
                </ul>
                <div v-else>n/a</div>
            </span>
                
        </div>
    </div>



    <script src="init.js"></script>
    <script src="git.js"></script>
    <script src="ui.js"></script>
</body>


</html>