<html>

<head>

    <!-- <script src="require.js"></script> -->
    <script src="js/ext/cytoscape.min.js"></script>
    <script src="js/ext/dagre.min.js"></script>
    <script src="js/ext/cytoscape-dagre.js"></script>
    <script src="js/ext/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <link rel="stylesheet" href="css/ext/bootstrap.min.css">
    <script src="js/ext/jquery.slim.min.js"></script>
    <script src="js/ext/popper.min.js"></script>
    <script src="js/ext/bootstrap.min.js"></script>

    <script src="js/ext/lodash.js"></script>

    <link rel="stylesheet" href="css/main.css">

    <script>
        // console.log = function() {};
        // console.group = function() {};
        // console.groupEnd = function() {};
    </script>
</head>

<body>
    <div class="container">
        <div id="cy"></div>
    </div>

    <div class="container container-fluid">

    </div>


    <div id="app" class="container">

        <!-- <label for="cmd">Current branch: </label> -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">{{git_head()}}</span>
            </div>
            <input id="cmd" class="form-control form-control-lg" type="text" placeholder=""
                v-on:keyup.enter="run_command" v-on:keyup.arrow-up="up_cmd" v-on:keyup.arrow-down="down_cmd"
                v-model="command">

        </div>

        <div class="alert alert-danger" role="alert" v-if="git_error() != ''">{{git_error()}}</div>
        <!-- <span class="dropdown">
        <label for="dropdownMenuButton">Branch</label>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{selected}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" v-for="(val, branch, index) in branches" v-bind:value="branch"
                @click="setSelected($event, branch)">{{branch}}</a>
        </div>
        <button v-on:click='comm' type="button" class="btn btn-primary">
            Commit
        </button>
    </span> -->



        <div class="row">
            <ul class="list-group col-sm">
                <li class="list-group-item bg-warning text-light font-weight-bold">
                    New
                    <small v-if="new_files().length == 0"> - none</small>
                </li>
                <li class="list-group-item  list-group-item-warning" v-for="file in new_files()" :key="file.name">
                    {{file.name}} <small class="text-secondary">v{{file.version}}</small>
                </li>

                <li class="list-group-item bg-info text-light font-weight-bold">
                    Modified
                    <small v-if="modified_files().length == 0"> - none</small>
                </li>
                <li class="list-group-item  list-group-item-info" v-for="file in modified_files()" :key="file.name">
                    {{file.name}} <small class="text-secondary">v{{file.version}}</small>
                </li>

            </ul>
            <ul class="list-group col-sm">
                <li class="list-group-item bg-success text-light font-weight-bold">
                    Staged
                </li>
                <li class="list-group-item  list-group-item-success" v-for="file in staged()" :key="file.name">
                    {{file.state | status_code}} - {{file.name}} <small class="text-secondary">v{{file.version}}</small>
                </li>
                <li class="list-group-item  list-group-item-success" v-if="staged().length == 0"> - None -</li>
            </ul>
            <ul class="list-group col-sm">
                <li class="list-group-item bg-primary text-light font-weight-bold">
                    Commited
                </li>
                <li class="list-group-item  list-group-item-primary" v-for="file in repo()" :key="file.name">
                    {{file.name}} <small class="text-secondary">v{{file.version}}</small>
                </li>
                <li class="list-group-item  list-group-item-primary" v-if="repo().length == 0"> - None -</li>
            </ul>
        </div>



        <!-- <div>
            <span>Merge: {{ merge_select }}</span>
            <select v-model="merge_select">
                <option v-for="(val, branch, index) in branches" v-bind:value="branch">
                    {{ branch }}
                </option>
            </select>
            <button v-on:click='merge' type="button" class="btn btn-light">
                Merge
            </button>
        </div>
        <div>
            <input v-model="message" placeholder="edit me">
            <span>New Branch: {{ message }}</span>
            <button v-on:click='newBranch' type="button" class="btn btn-light">
                New BRanch
            </button>

        </div> -->

    </div>



    <script src="js/init.js"></script>
    <script src="js/git.js"></script>
    <script src="js/ui.js"></script>
</body>


</html>