#cy {
    width: 100%;
    height: 40%;
    background: #101010;
}

body {
    background: #101010;
}

.list-group-item {
    position: relative;
    display: block;
    font-size: 24px;
    /* padding: 0px 15px; */
    margin-bottom: 0px;
    /* border: 2px solid #34495E; */
    line-height: 0.3em 
}

input {
    /* border: 2px solid #34495E; */
}

.list-group-item-mine {
background-color: #f1f9fb;
border-top: 1px solid #0091b5;
border-left-color: #fff;
border-right-color: #fff;
}

.commited {
    background-color: #2980B9;
}